.contactbackground{
    background-image: url("../pictures/city.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.border2{
    border: solid white;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 30px;
    border-width:medium;
}

.text-shadow-pop-top-2-1 {
	-webkit-animation: text-shadow-pop-top 2s 1s both;
	        animation: text-shadow-pop-top 2s 1s both;
}

@-webkit-keyframes text-shadow-pop-top-2-1 {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
  }
  @keyframes text-shadow-pop-top {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
  }

  
  .emailform{
    background-color: transparent;
  }

  input[type="text"], input[type="email"]
{
    background: transparent;
    border: solid white;
    color: snow;
    border-width:medium;
    border-radius: 20px;
    width: 50%;
}

input[type="submit"]
{
  background: transparent;
    border: solid white;
    color: snow;
    border-width:medium;
    border-radius: 20px;
}
.contactmetextarea{
  background: transparent;
    border: solid white;
    color: snow;
    border-width:medium;
    border-radius: 20px;
    width: 80%;
    height: 300px;
}

.fade-in-left-contactme {
	-webkit-animation: fade-in-left-contactme 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: fade-in-left-contactme 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

@-webkit-keyframes fade-in-left-contactme {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left-contactme {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
